@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
}

/* .border_effect{
    display: inline-block;
    color: black;
    text-decoration: none;
}

.border_effect::after {
    content: '';
    display: block;
    width: 0;
    transition: width .3s;
    background: blue;
    border-bottom: 2px solid transparent;
}

.border_effect:hover::after {
    display: block;
    width: 100%;
    border-bottom: 2px solid transparent;
    height: 0px;
    transition: width .1s;
} */

.active{
    display: inline-block;
    color: blue;
    padding-bottom: 4px;
    border-bottom: 2px solid blue;
}

.progress-custom::-webkit-progress-value {
    background-color: #4f46e5;
}

.progress-custom::-webkit-progress-bar {
    background-color: #f3f4f6; 
}

.custom-svg {
    color: #1932ae;
    transition: color 0.3s; 
}

.custom-svg:hover {
    color: #ffffff;
}

@media (max-width: 638px) {
    .handle_left{
        right: 60%;
    }
}
@media (max-width: 530px) {
    .handle_left{
        right: 64%;
    }
}
@media (max-width: 426px) {
    .handle_left{
        right: 70%;
    }
}
@media (max-width: 320px) {
    .handle_left{
        right: 86%;
    }
}
@media (max-width: 325px) {
    .name_font{
        font-size: 28px;
    }
}
