@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
}

.border_effect{
    display: inline-block;
    color: black;
    padding-bottom: 10px;
    text-decoration: none;
    /* border-bottom: 2px solid transparent; */
}

.border_effect::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: blue;
    transition: width .3s;
    /* padding-bottom: 6px;  */
    border-bottom: 2px solid transparent;
}

.border_effect:hover::after {
    width: 100%;
    border-bottom: 2px solid transparent;
    height: 0px;
    transition: width .1s;
    /* padding-bottom: 6px; */
}

.active{
    display: inline-block;
    color: blue;
    padding-bottom: 4px;
    border-bottom: 2px solid blue;
}

.progress-custom::-webkit-progress-value {
    background-color: #4f46e5;
}

.progress-custom::-webkit-progress-bar {
    background-color: #f3f4f6; 
}

.custom-svg {
    color: #1932ae;
    transition: color 0.3s; 
}

.custom-svg:hover {
    color: #ffffff;
}


